<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logger Page</title>
</head>

<body>
    <h1>Logger Page</h1>
    <p>{{ log_message }}</p>
    <p> Response message: {{ response_message }}</p>
    </p>
    <label for="logText">Log Message:</label>
    <form method="POST">
        <textarea name="Request"></textarea>
        <input type="submit" value="Submit">
    </form>

    <form method="POST">
        <button name="action" value="Google" type="submit">Click me to send a GET Request to Google</button>
    </form>

    <form method="POST">
        <button name="action" value="ganalytics" type="submit">Click me to send a GET Request to Google
            Analytics</button>
    </form>




    <script>
        console.log("Log Message: {{ log_message }}");
    </script>
</body>

</html>