<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logger Page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <h1> Logger page</h1>
    <p>Log message: {{ log_message }}</p>
    <p>Response message: {{ response_message }}</p>

    <form method="POST">
        <textarea name="Request" placeholder="Enter your request here"></textarea>
        <input type="submit" value="Submit">
    </form>

    <form method="POST">
        <button name="action" value="Google" type="submit">Click me to send a GET Request to Google</button>
    </form>

    <form method="POST">
        <button name="action" value="ganalytics" type="submit">Click me to send a GET Request to Google
            Analytics</button>
    </form>

    <p id="user-count">Number of visitors: {{ user_count }}</p>
</body>

</html>